body {
    background-color: #cd5b9f;
}

.topnav a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
}

.topnav {
    font-weight: bold;
}

.navbar-light {
    background-color: rgb(224, 42, 72);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: sticky;
}

.search-form {
    margin: auto 0;
}

.search-div {
    margin: auto;
    margin-top: 0.7%;
    width: 95%;
    height: 30rem;
    display: flex;
    justify-content: center;
    background-image: url('../media/search/search-bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

/* cards */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
} */
.container {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card1 {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.card-header1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.tag1 {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.card-body1 p {
    font-size: 13px;
    margin: 0 0 40px;
}

.user1 {
    display: flex;
    margin-top: auto;
}

.user1 img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-info1 h5 {
    margin: 0;
}

.user-info1 small {
    color: #545d7a;
}
