{% extends 'base.html' %}

{% block content %}

<div class="search-div">
    <form class="search-form d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</div>

<div class="container">
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card1">
        <div class="card-header1">
            <img src="{{res.image}}" alt="rover" />
        </div>
        <div class="card-body1">
            <span class="tag1 tag-teal">Technology</span>
            <h4>
                {{res.title}}
            </h4>
            <p>
                An exploration into the truck's polarising design
            </p>
            <div class="user1">
                <div class="user-info1">
                    <strong>By</strong>
                    <a href="">Rachel Lucas</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}