{% extends 'base.html' %}

{% block content %}

<div class="container one">
    <div class="container">
        <h1>heading</h1>
    </div>
    <div class="container">
        <h3>author</h3>
    </div>
    <div class="container two">
        <div class="three recipe-image">
            <h1>Image</h1>
            <div class="card text-bg-dark">
                <img src="../static/media/search/search-bg.jpg" class="card-img" alt="...">
            </div>
        </div>
        <div class="three">
            <h2>Side information</h2>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sequi accusantium odio
                        perspiciatis, autem laudantium modi libero, minima, officia ipsum placeat odit quo sapiente.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class=" ">
        <div class=" ">
            <h2>Ingredient!</h2>
            <hr>
            <div class=" ">
                <ul>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                    <li>info</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class=" ">
            <div class=" ">
                <h3>Directions</h3>
                <div class=" ">
                    <h6>step 1</h6>
                </div>
                <div class=" ">
                    <h6>step 2</h6>
                </div>
                <div class=" ">
                    <h6>step 3</h6>
                </div>
            </div>
            <hr>
            <article>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit fugiat pariatur, exercitationem magni
                nesciunt
                omnis fugit quisquam odit cumque, animi corporis. Ipsum iste, nesciunt exercitationem neque doloremque
                saepe
                corrupti officiis, fuga temporibus possimus quod quisquam magnam soluta unde et eligendi ullam commodi
                tenetur a repellat. Eligendi quasi ut sunt nulla dolorum! Iure consequatur, porro voluptatem aperiam
                rerum
                beatae eos soluta vel doloremque dolore quidem praesentium laboriosam maiores magni aliquam amet
                mollitia
                laborum unde repellendus ex ea inventore cum. Odit dicta nisi vel quam natus architecto cum. Cumque,
                eveniet
                dolor culpa eos molestias maiores iusto voluptas, sed rem officiis error nobis vitae ullam repellat
                repudiandae magnam delectus magni nemo. Iste est facilis sint, eaque possimus nisi iusto animi eum
                nostrum
            </article>
        </div>
    </div>
</div>


{% endblock %}